<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

	  <h1>イベント情報の編集（管理者画面）</h1>

    <% if @event.errors.any? %>
      <h3><%= @event.errors.count %> errors prohibited this obj from being saved:</h3>
       <ul>
         <% @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
         <% end %>
       </ul>
    <% end %>

    <%= form_with model: @event, url: admin_event_path, method: :patch do |f| %>
      <div class="form-group form-inline">
        <label class="col-4 col-form-label">イベント名</label>
        <%= f.text_field :name, class:"form-control", placeholder:"イベント名" %>
      </div>

      <div class="form-group form-inline">
        <label class="col-4 col-form-label">説明</label>
          <%= f.text_area :body, class:"form-control", rows:"3", placeholder:"ここに説明文を記述します" %>
      </div>

      <div class="form-group form-inline">
        <label class="col-4 col-form-label">ジャンル</label>
          <% f.text_field :genre_id, class:"form-control" %>
            <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name_was), include_blank: "--選択してください--" %>
      </div>

      <div class="form-group form-inline">
        <label class="col-4 col-form-label">開催日</label>
          <%= f.date_field :date, class:"form-control"%>
       </div>

      <div class="form-group form-inline">
        <label class="col-4 col-form-label">時間</label>
          <%= f.time_field :start_at, class:"form-control", ignore_data:true %>
          〜
          <%= f.time_field :end_at, class:"form-control", ignore_data:true %>
      </div>

      <div class="form-group form-inline">
        <label class="col-4 col-form-label">場所</label>
        <%= f.text_field :location, class:"form-control", placeholder:"場所" %>
      </div>

      <div class="form-group form-inline">
        <label class="col-4 col-form-label">費用</label>
        <%= f.text_field :cost, class:"form-control", placeholder:"費用" %>
      </div>

      <div class="form-group form-inline">
        <label class="col-4 col-form-label">募集人数</label>
        <%= f.select :recruit, *[1..99] %>
      </div>

      <div class="form-group">
        <%= f.submit "編集内容を保存", class: 'btn btn-success' %>
      </div>

      <div class="form-group">
      <%= link_to admin_event_path(@event.id), method: :delete, "data-confirm" => "本当に削除しますか？" do %>
        <div class="btn btn-sm btn-danger">イベント削除</div>
      <% end %>
      </div>
    <% end %>
    </div>
  </div>
</div>