  <div class='row mx-5 mt-3'>
    <h3>ユーザ情報</h3>

      <div class='col-2 mt-5'>
        <%= image_tag @user.get_profile_image(200,200) %>
          <div class='mt-3'>

        <% if @user == current_user %>
          <div class='col-11 mt-3'>
            <%= link_to edit_user_path(@user.id) do %>
              <div class="btn btn-outline-secondary btn-block">
                <i class="fas fa-user-cog"></i>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      </div>

      <div class='col-2 my-auto'>
        <table>
          <tr>
        	  <th>フォロー</th>
            <th><%= link_to "#{@user.relationships.count} ", user_followings_path(@user.id) %></th>
          </tr>
          <tr>
        	  <th>フォロワー</th>
            <th><%= link_to "#{@user.reverse_relationships.count} ", user_followers_path(@user.id) %></th>
          </tr>
        </table>

      <% if @user == current_user %>
      <% else %>
        <% if current_user.following?(@user) %>
          <%= link_to "フォロー中", user_relationships_path(@user.id), method: :delete, class: "btn btn-outline-secondary" %>
        <% else %>
          <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: "btn btn-primary" %>
        <% end %>
      <% end %>
      </div>

<div class='col-5 mt-5'>
<table class = 'table table-bordered'>
  <tr>
    <td>氏名</td>
    <td><%= @user.last_name + "　" + @user.first_name %></td>
  </tr>
  <tr>
    <td>カナ</td>
    <td><%= @user.last_name_kana + "　" + @user.first_name_kana %></td>
  </tr>
  <tr>
    <td>メールアドレス</td>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <td>社員番号</td>
    <td><%= @user.employee_id %></td>
  </tr>
  <tr>
    <td>所属</td>
    <td><%= @user.affiliation %></td>
  </tr>
  <tr>
    <td>自己紹介</td>
    <td><%= @user.body %></td>
  </tr>
</table>
</div>
</div>

<div class="row mx-5 mt-3">
  <div class="col-5">
<%= month_calendar events: @join_events do |date, events| %>
  <%= date.day %>
    <% events.each do |event| %>
      <% if event.recruit > event.joins.count %>
      <% else %>
        <%= link_to event_path(event.id) do %>
          <%= image_tag event.genre.get_genre_image(22,22) %>
        <% end %>
      <% end %>
    <% end %>
<% end %>
</div>

<div class="col-7">
<table class="table table-hover table-inverse ">
  <thead bgcolor="lightgray">
  <h4>参加したイベント</h4>
    <tr>
      <th>イベント名</th>
      <th>開催日</th>
      <th>時刻</th>
      <th>場所</th>
      <th>参加人数</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @join_events.each do |event| %>
    <% if event.recruit > event.joins.count %>
    <% else %>
      <% if event.date < DateTime.now %>
    <tr>
      <td><%= link_to event.name, event_path(event.id) %></td>
      <td><%= event.date %></td>
      <td><%= event.start_at.strftime("%H:%M") %>〜<%= event.end_at.strftime("%H:%M") %></td>
      <td><%= event.location %></td>
      <td><%= event.joins.count %>人/(<%= event.recruit %>人募)</td>
    </tr>
      <% end %>
    <% end %>
  <% end %>
  </tbody>
</table>

<% if @user == current_user %>
<hr>
<table class="table table-hover table-inverse mt-3">
  <thead bgcolor="lightgray">
  <h5>参加申請したイベント（未開催含む）</h5>
    <tr>
      <th>イベント名</th>
      <th>開催日</th>
      <th>時刻</th>
      <th>場所</th>
      <th>参加人数</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @join_events.each do |event| %>
    <tr>
      <td><%= link_to event.name, event_path(event.id) %></td>
      <td><%= event.date %></td>
      <td><%= event.start_at.strftime("%H:%M") %>〜<%= event.end_at.strftime("%H:%M") %></td>
      <td><%= event.location %></td>
      <td><%= event.joins.count %>人/(<%= event.recruit %>人募)</td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>

</div>
</div>

</div>