<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        <%= image_tag 'logo.png', size:"40x40", class:"rounded-pill" %>
        <span>クライベ -crowdeventing-</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

        </div>
          <% if  user_signed_in? %>
            <h5 class='text-light'>ようこそ、<%= current_user.last_name %><%= current_user.first_name %>さん！</h5>
          <% end %>
        <div class="">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li>
                <%= link_to user_path(current_user), class: 'nav-link text-light' do %>
                  <i class="fas fa-user"></i> <span class="font-size: small">マイページ
                <% end %>
              </li>
              <li>
                <%=  link_to users_path,class: 'nav-link text-light' do %>
                  <i class="fas fa-users"></i> <span class="font-size: small">ユーザ一覧
                <% end %>
              </li>
              <li>
                <%=  link_to events_path,class: 'nav-link text-light' do %>
                  <i class="fas fa-gifts"></i> <span class="font-size: small">イベント一覧
                <% end %>
              </li>
            <% if unchecked_notifications.any? %>
              <i class="fa fa-circle font-size: small" style="color: gold;"></i>
            <% end %>
              <li>
                <%=  link_to notifications_path,class: 'nav-link text-light' do %>
                  <i class="fas fa-flag"></i> <span class="font-size: small">通知一覧
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link text-light' do %>
                  <i class="fas fa-sign-out-alt"></i> <span class="font-size: small">ログアウト
                <% end %>
              </li>
              <li>
                <%= render 'public/searches/search', events: @events %>
              </li>
            <% else %>
              <li>
                <%= link_to about_path,class: 'nav-link text-light' do %>
                  <i class="fas fa-home"></i> <span class="font-size: small">トップ
                <% end %>
              </li>
              <li>
                <%=  link_to events_path,class: 'nav-link text-light' do %>
                  <i class="fas fa-gifts"></i> <span class="font-size: small">イベント一覧
                <% end %>
              </li>
              <li>
                <%= link_to new_user_registration_path,class: 'nav-link text-light' do %>
                  <i class="fas fa-user-plus"></i> <span class="font-size: small">新規登録
                <% end %>
              </li>
              <li>
                <%= link_to new_user_session_path ,class: 'nav-link text-light' do %>
                  <i class="fas fa-sign-in-alt"></i> <span class="font-size: small">ログイン
                <% end %>
              </li>
            <% end %>
            </ul>
          </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>