<!DOCTYPE html>
<html>
  <head>
    <title>Crowdeventing</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: #ffffff;"><!--サイト全体の背景色を指定-->

    <% if admin_signed_in? %>
      <%= render 'admin/header/header' %>
    <% else %>
      <%= render 'public/header/header' %>
    <% end %>

    <%= yield %>
  </body>
</html>